@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  @apply font-bold mb-3;
  line-height: 1.2;
}
button {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem !important;
}
h2 {
  font-size: 2.25rem !important;
}
h3 {
  font-size: 1.875rem !important;
}
h4 {
  font-size: 1.5rem !important;
}
h5 {
  font-size: 1.25rem !important;
}
h6 {
  font-size: 1.25rem !important;
}

.container {
  @apply px-4 mx-auto;
}
a {
  transition: 0.3s;
}

.section-padding {
  padding-bottom: 75px;
  padding-top: 100px;
}
.section-padding-t {
  padding-top: 100px;
}
.section-padding-b {
  padding-bottom: 75px;
}

.default-btn {
  padding: 15px 30px;
  text-align: center;
  color: var(--whiteColor);
  font-size: var(--fontSize);
  font-weight: 500;
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  z-index: 0;
  background-color: var(--mainColor);
  box-shadow: none;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 1px;
  border: 0;
}

.default-btn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 550px;
  height: 550px;
  margin: auto;
  background: var(--optionalColor);
  border-radius: 50%;
  z-index: -1;
  transform-origin: top center;
  transform: translateX(-50%) translateY(-5%) scale(0.4);
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}

.default-btn:hover {
  color: var(--whiteColor);
}

.default-btn:hover:before {
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  transform: translateX(-45%) translateY(0) scale(1);
  transform-origin: bottom center;
}

.optional-btn {
  display: inline-block;
  background-color: transparent;
  color: var(--mainColor);
  padding: 14px 30px;
  font-size: var(--fontSize);
  font-weight: 500;
  transition: var(--transition);
  border-radius: 5px;
  border: 2px solid var(--mainColor);
  &:hover {
    background-color: var(--mainColor);
    color: var(--whiteColor);
  }
}

.subtitle {
  @apply inline-block text-java-500 border py-2 px-5 border-java-500 font-semibold mb-6 bg-white;
  font-size: 14px;
  border-radius: 50px;
}
