@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  @apply font-bold mb-3;
  line-height: 1.2;
}
button {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem !important;
}
h2 {
  font-size: 2.25rem !important;
}
h3 {
  font-size: 1.875rem !important;
  font-weight: 500 !important;
  margin-bottom: 12px !important;
  font-size: 24px !important;
}
h4 {
  font-size: 1.5rem !important;
}
h5 {
  font-size: 1.25rem !important;
}
h6 {
  font-size: 1.25rem !important;
}

p {
  line-height: 1.8;
  color: var(--paragraphColor);
  font-weight: 400;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}

.container {
  @apply px-4 mx-auto;
}
a {
  transition: 0.3s;
}

p {
  margin-bottom: 15px;
  line-height: 1.8;
  color: var(--paragraphColor);
  font-weight: 400;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}

.section-padding {
  padding-bottom: 75px;
  padding-top: 100px;
}
.section-padding-t {
  padding-top: 100px;
}
.section-padding-b {
  padding-bottom: 75px;
}

.default-btn {
  @apply text-center text-white text-base font-normal inline-flex items-center justify-center relative overflow-hidden border-0 bg-java-500;
  padding: 15px 30px;
  transition: var(--transition);
  border-radius: 5px;
  z-index: 0;
  box-shadow: none;
  white-space: nowrap;
  letter-spacing: 1px;
  &:before {
    @apply absolute top-0 bottom-0 left-1/2 m-auto;
    content: "";
    width: 550px;
    height: 550px;
    background: var(--optionalColor);
    border-radius: 50%;
    z-index: -1;
    transform-origin: top center;
    transform: translateX(-50%) translateY(-5%) scale(0.4);
    transition: -webkit-transform 0.9s;
    transition: transform 0.9s;
    transition: transform 0.9s, -webkit-transform 0.9s;
  }
  &:hover {
    color: var(--whiteColor);
  }
}

.default-btn:hover:before {
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  transform: translateX(-45%) translateY(0) scale(1);
  transform-origin: bottom center;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 75px;
}
.section-padding-t {
  padding-top: 100px;
}
.section-padding-b {
  padding-bottom: 75px;
}

.optional-btn {
  @apply inline-block bg-transparent text-java-500 text-base border-2 font-medium border-java-500;
  padding: 14px 30px;
  transition: var(--transition);
  border-radius: 5px;
  &:hover {
    @apply bg-java-500 text-white;
  }
}

element.style {
}
.elementor a {
  box-shadow: none;
  text-decoration: none;
}
.elementor *,
.elementor :after,
.elementor :before {
  box-sizing: border-box;
}

.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
  @apply flex items-center justify-center w-10 h-10 rounded-full bg-java-500;
  z-index: 1;
}
.carousel .slick-arrow.slick-prev:hover,
.carousel .slick-arrow.slick-next:hover {
  @apply flex items-center justify-center w-10 h-10 rounded-full bg-java-600;
}

.carousel .slick-prev {
  left: -10px;
}

.carousel .slick-next {
  right: -10px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

@media only screen and (max-width: 767px) {
  .default-btn {
    padding: 12px 20px;
    font-size: 15px;
  }
  .optional-btn {
    padding: 12px 20px;
    font-size: 15px;
  }
}
