.all-blog {
  @apply container section-padding;
  &__title {
    @apply container flex justify-center;
    &__content {
      @apply text-center;
      max-width: 665px;
      margin: 0 auto 45px;
      h2 {
        @apply mb-0 font-normal leading-snug;
        font-size: 38px !important;
      }
    }
  }
}

.single-blog-post {
  @apply mb-8;
  transition: var(--transition);
  &:hover {
    transform: translateY(-5px);
  }
}

.single-blog-post .entry-thumbnail {
  @apply relative;
}

.single-blog-post .entry-thumbnail .tag {
  @apply absolute right-4 bg-java-500 text-white;
  bottom: -10px;
  padding: 5px 15px;
  border-radius: 30px;
}

.single-blog-post .post-content {
  @apply relative p-6 border-b-2 border-java-300;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  h3 {
    @apply mb-0 relative capitalize;
    line-height: 1.4;
    word-wrap: break-word;
    font-size: 25px;
    margin-top: -5px;
    a {
      @apply block;
    }
  }
  p {
    @apply mt-3 mb-0;
  }
}

.info-item {
  @apply bg-white p-6 relative;
  border-radius: 5px;
  box-shadow: 1px 2px 13px rgba(16, 166, 179, 0.08);
  z-index: 1;
  transition: var(--transition);
  &:hover {
    @apply bg-java-500;
    &:before {
      @apply bg-java-500;
    }
    .info-item__rating svg {
      @apply text-white;
    }
    p {
      @apply text-white;
    }
  }
  &:before {
    @apply left-6 w-8 absolute bg-white;
    content: "";
    z-index: -1;
    height: 20px;
    bottom: -18px;
    transition: var(--transition);
    box-shadow: 1px 2px 13px rgba(16, 166, 179, 0.08);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }
  p {
    transition: var(--transition);
  }

  &__rating {
    @apply flex;
    svg {
      @apply text-yellow-500 text-xl;
    }
  }
}

.widget_tag_cloud {
  h3 {
    @apply my-5 text-xl font-bold;
    font-size: 22px !important;
  }
  &__wrapper {
    @apply flex flex-wrap gap-2;
  }
  a {
    @apply border border-gray-300 rounded p-2;
    &:hover {
      @apply bg-java-500;
    }
  }
}

.sidebar-blog {
  &__title {
    @apply mb-3;
    font-size: 22px !important;
    font-weight: 700 !important;
  }
}
