.experienced-dentist {
  padding: 100px 0px 100px 0px;
  background-color: #f7fafb;
}

.doctor-card {
  position: relative;
}

.doctor-content {
  h3 {
    font-size: 20px !important;
    margin-bottom: 0;
    &:hover {
      @apply text-java-600;
    }
  }
  span {
    @apply text-java-500;
    margin-top: 5px;
    display: inline-block;
  }
  background-color: white;
  padding: 20px 25px 5px 20px;
  position: absolute;
  left: 16px;
  bottom: 20px;
  max-width: 260px;
  right: 0;
}

.social-link a {
  @apply text-center items-center justify-center flex bg-white mr-1 relative text-base;
  width: 35px;
  height: 35px;
  color: var(--paragraphColor);
  border-radius: 50%;
  line-height: 40px;
  &:last-child {
    @apply mr-0;
  }
  &:hover {
    @apply bg-java-500 text-white;
  }
}
