.hero {
  &__wrapper {
    @apply grid grid-cols-12 gap-4;
    padding-left: 30px;
    &__content {
      @apply col-span-12 lg:col-span-6  flex items-center;
    }
  }
  &__main-banner-content {
    &__banner-btn {
      @apply flex;
      margin-top: 25px;
      li {
        margin-right: 15px;
      }
    }
    h1 {
      @apply text-black-500;
      font-size: 75px !important;
      margin-bottom: 15px;
    }
    p {
      @apply font-semibold text-gray-600;
      margin-bottom: 15px;
    }
  }
  &__banner-img {
    @apply w-full h-full;
  }
  background-color: #f1f7f8;
}
