.hero {
  @apply relative overflow-hidden lg:text-left text-center;
  background-color: #f1f7f8;
  z-index: 1;
  &__container {
    @apply pl-8 pr-0;
  }
  &__wrapper {
    @apply grid grid-cols-12 gap-4;
    &__content {
      padding: 145px 30px 210px 0;
      h1 {
        @apply mb-4 font-normal;
        font-size: 75px !important;
        b {
          @apply font-bold;
        }
      }
      p {
        @apply font-semibold;
        max-width: 720px;
      }
      .banner-btn {
        @apply md:mt-5 mt-6 p-0 mb-0;
        li {
          @apply md:mb-2 inline-block mr-4;
          &:last-child {
            @apply mr-0;
          }
        }
      }
    }
  }
  &__banner-image {
    @apply bg-cover bg-no-repeat w-full h-full;
    background-position: center top;
  }
}

.main-banner-shape-1 {
  @apply absolute;
  bottom: 12%;
  left: 38%;
  transform: translateY(-12%) translateX(-38%);
  z-index: -1;
}

.main-banner-shape-2 {
  @apply absolute;
  top: 10%;
  left: 45%;
  transform: translateY(-10%) translateX(-45%);
  z-index: -1;
}
