.hospital-area {
  @apply relative;
  z-index: 1;
  &:before {
    @apply absolute left-0 top-0 h-full w-1/2 bg-java-500;
    content: "";
    z-index: -1;
  }
  &:after {
    @apply absolute right-0 top-0 h-full w-1/2 bg-white;
    content: "";
    z-index: -1;
  }
  &__content {
    h3 {
      @apply text-white mb-4 font-normal;
      font-size: 38px;
      line-height: 1.4;
      b {
        @apply font-bold;
      }
    }
    p {
      @apply mb-0 text-white;
    }
    &__btn {
      @apply mt-6;
      .default-btn {
        background-color: var(--whiteColor);
        color: var(--mainColor) !important;
        &:before {
          background-color: var(--blackColor);
        }
        &:hover {
          color: var(--whiteColor) !important;
        }
      }
    }
  }
  &__right-content {
    @apply ml-12;
  }
  &__single-car {
    margin-bottom: 25px;
    h3 {
      font-size: 22px;
      margin-bottom: 12px;
      a {
        color: var(--blackColor);
      }
    }
    .icon {
      margin-bottom: 12px;
      i {
        font-size: 55px;
        color: var(--mainColor);
        line-height: 1;
      }
    }
  }
}

.single-hospital-box {
  @apply mt-4 text-center;
  span {
    @apply text-black-500 font-bold inline-block mt-3;
    font-size: 18px;
  }
}

.single-hospital-box .circlechart {
  @apply inline-block;
  width: 100px;
  height: 100px;
}

.single-hospital-box .circlechart .circle-chart {
  width: 100px;
  height: 100px;
  fill: var(--mainColor);
}

.single-hospital-box .circlechart .circle-chart .circle-chart__background {
  stroke: #dfedee;
  stroke-width: 1.5;
}

.single-hospital-box .circlechart .circle-chart .circle-chart__circle {
  stroke: var(--mainColor) !important;
  stroke-width: 1.5;
  border-radius: 10px !important;
}

.single-hospital-box .circlechart .circle-chart .circle-chart__info {
  font-weight: 600;
}

.single-hospital-box
  .circlechart
  .circle-chart
  .circle-chart__info
  .circle-chart__percent {
  position: relative;
  font-size: 6px;
}

.single-hospital-box
  .circlechart
  .circle-chart
  .circle-chart__info
  .circle-chart__subline {
  display: none;
}
