.comment {
  @apply container flex justify-center items-center;
  margin-top: 30px;

  &__wrapper {
    @apply w-full md:w-3/5 shadow-2xl;
    padding: 30px;
  }
  &__reply-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: -3px;
  }
  &__notes {
    line-height: 26px;
    font-size: 14px;
    margin-top: 5px;
  }
  &__textarea {
    @apply w-full text-black-500;
    background: #f7fafb;
    border: 1px solid #dfedee;
    border-radius: 5px;
    padding: 0.625em 15px;
    font-size: 16px;
  }
  input {
    @apply w-full text-black-500;
    background: #f7fafb;
    border: 1px solid #dfedee;
    border-radius: 5px;
    padding: 0.625em 15px;
    font-size: 16px;
  }
  &__cookies {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 20px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 25px;
    // @apply grid grid-cols-12 gap-2;
    input {
      position: absolute;
      left: 0px;
      top: 3px;
      margin: 0;
      width: auto !important;
      // @apply col-span-1;
    }
    label {
      display: inline-block;
      margin: 0;
      line-height: 20px;
      font-weight: normal;
      font-size: 13.4px;
      // @apply col-span-11;
    }
  }
}

label {
  display: block;
  margin-bottom: 12px;
  color: var(--blackColor);
  font-size: 16px;
  font-weight: bold;
}

p.comment-form-author {
  width: 50%;
  float: left;
  padding-right: 12px;
}

p.comment-form-email {
  width: 50%;
  float: left;
  padding-left: 12px;
}
