.service-banner {
  @apply py-24 relative;
  background-color: #dfedee;
  z-index: 1;
  &__content {
    h2 {
      @apply mb-5 font-bold;
      font-size: 55px !important;
    }
    ul {
      li {
        @apply inline-block ml-8 font-semibold text-java-500 text-base relative;
        &:before {
          content: "";
          @apply absolute bg-black-500 w-2 h-2;
          left: -20px;
          top: 10px;
          border-radius: 50px;
        }
        &:first-child {
          @apply ml-0;
        }
        span {
          @apply text-java-500;
        }
        a {
          @apply block text-black-500;
        }
      }
    }
  }
  &__shape-1 {
    @apply absolute;
    bottom: 12%;
    left: 38%;
    transform: translateY(-12%) translateX(-38%);
    z-index: -1;
  }
  &__shape-2 {
    @apply absolute top-1/4;
    right: 10%;
    transform: translateY(-25%) translateX(-10%);
    z-index: -1;
  }
}

.service-banner__content ul li:first-child::before {
  display: none;
}
